{% import "menu.html.tera" as menu %}
<!DOCTYPE html >
<html lang="en">
    <head>
        <title>{% block title %}Berger{% endblock title %}</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/static/css/base.css" />
        <link rel="stylesheet" href="/static/contrib/font-awesome/css/all.min.css" />

        {% block styles %}
        {% endblock styles %}
    </head>
    <body>
        <nav id="navigation">
            {{ menu::app_menu_item(name="Task list", icon="fa-brands fa-buffer", url="/", module="index", cur_module=cur_module) }}
            <li class="separator"></li>
            {% if logged_in %}
            {{ menu::app_menu_item(name="Logout", icon="fa fa-sign-out", url="/auth/logout", module="logout", cur_module=cur_module) }}
            {% else %}
            {{ menu::app_menu_item(name="Login", icon="fa fa-sign-in", url="/auth/login", module="login", cur_module=cur_module) }}
            {% endif %}
        </nav>

        <div id="main-container">
            <main id="main" >
                <nav id="module-menu">
                    {% block menu %}{% endblock menu %}
                </nav>
                {% block main %}{% endblock main %}
            </main>
        </div>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>


