{% extends "base.html" %}
{% block menu %}
    {{ menu::menu_item(name="All tasks", icon="", url="/", selected=not failed, id="") }}
    {{ menu::menu_item(name="Failures", icon="", url="/?failed", selected=failed, id="") }}
{% endblock %}
{% block main %}
    {% for group in groups %}
        <article class="groupresult">
            <header class="grouptitle">
                <span class="taskresult task-{{group.status}}"></span>
                <h4>{{ group.group.repo_org }}/{{group.group.repo_name}} ({{group.group.git_ref}})</h4>
                <a href="{{ base_url }}/tasks/groups/{{ group.group.id }}">G</a>
                <div>
                    <time datetime="{{ group.group.created_at }}">{{group.group.created_at}}</time>
                </div>
                {% if group.start != "" %}
                <span class="commit-range"><a href="{{group.group.source}}">{{ group.start }}...{{ group.end }}</a></span>
                {% endif %}
            </header>
            {% for task in group.group.tasks %}
            <div class="subtask">
                <span class="taskresult task-{{task.status}}"></span>
                <div><a href="{{base_url}}/tasks/{{task.id}}">{{ task.name }}</a></div >
            </div>
            {% endfor %}
        </article>
    {% endfor %}
{%endblock%}
