{% extends "base.html" %}
{% import "menu.html.tera" as menu %}
{% block menu %}
{% endblock %}
{% block main %}
<table class="repo_list_table">
    <thead>
        <tr><th>Repository</th><th>Last task</th><th></th></tr>
    </thead>
    <tbody>
    {% for repo in repos %}
        <tbody>
            <tr onclick="onRepoTrClick(this)" class="repo_tr">
                <td colspan=3><span>{{ repo.repo_org }} / {{ repo.repo_name }}</span></td>
            </tr>
            {% for ref in repo.branches %}
            <tr class="hidden git_ref">
                <td>{{ ref.0 }}</td>
                <td><a href={{ base.base_url }}/tasks/{{ ref.1 }}>{{ ref.1 }}</a></td>
                <td><a onclick="triggerNewJob('{{repo.repo_org}}', '{{repo.repo_name}}', '{{ref.0}}')" class="validation-button">Run job</a></td>
            </tr>
            {% endfor %}
        </tbody>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script src="static/js/repo_list.js"></script>
{% endblock %}
